html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 30px;
    max-width: 1080px;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(235, 235, 235);
}